@charset "UTF-8";
/**
The MIT License

Copyright 2014 Lukáš Krotovič <lukas@krotovic.cz>.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
*/
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,700,600");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-size: 100%;
  font: inherit;
  padding: 0;
  border: 0;
  margin: 0;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

.clear {
  clear: both; }

div {
  position: relative; }

.full-width, .width-full {
  display: block;
  width: 100%;
  float: none; }

.half-width, .width-half {
  display: inline-block;
  width: 50%;
  float: left; }

.width-1-2 {
  width: 50%;
  display: inline-block;
  float: left; }

.width-1-3 {
  width: 33.33333%;
  display: inline-block;
  float: left; }

.width-1-4 {
  width: 25%;
  display: inline-block;
  float: left; }

.width-1-5 {
  width: 20%;
  display: inline-block;
  float: left; }

.width-1-6 {
  width: 16.66667%;
  display: inline-block;
  float: left; }

.width-1-7 {
  width: 14.28571%;
  display: inline-block;
  float: left; }

.width-1-8 {
  width: 12.5%;
  display: inline-block;
  float: left; }

.width-1-9 {
  width: 11.11111%;
  display: inline-block;
  float: left; }

.width-1-10 {
  width: 10%;
  display: inline-block;
  float: left; }

.width-2-3 {
  width: 66.66667%;
  display: inline-block;
  float: left; }

.width-2-4 {
  width: 50%;
  display: inline-block;
  float: left; }

.width-2-5 {
  width: 40%;
  display: inline-block;
  float: left; }

.width-2-6 {
  width: 33.33333%;
  display: inline-block;
  float: left; }

.width-2-7 {
  width: 28.57143%;
  display: inline-block;
  float: left; }

.width-2-8 {
  width: 25%;
  display: inline-block;
  float: left; }

.width-2-9 {
  width: 22.22222%;
  display: inline-block;
  float: left; }

.width-2-10 {
  width: 20%;
  display: inline-block;
  float: left; }

.width-3-4 {
  width: 75%;
  display: inline-block;
  float: left; }

.width-3-5 {
  width: 60%;
  display: inline-block;
  float: left; }

.width-3-6 {
  width: 50%;
  display: inline-block;
  float: left; }

.width-3-7 {
  width: 42.85714%;
  display: inline-block;
  float: left; }

.width-3-8 {
  width: 37.5%;
  display: inline-block;
  float: left; }

.width-3-9 {
  width: 33.33333%;
  display: inline-block;
  float: left; }

.width-3-10 {
  width: 30%;
  display: inline-block;
  float: left; }

.width-4-5 {
  width: 80%;
  display: inline-block;
  float: left; }

.width-4-6 {
  width: 66.66667%;
  display: inline-block;
  float: left; }

.width-4-7 {
  width: 57.14286%;
  display: inline-block;
  float: left; }

.width-4-8 {
  width: 50%;
  display: inline-block;
  float: left; }

.width-4-9 {
  width: 44.44444%;
  display: inline-block;
  float: left; }

.width-4-10 {
  width: 40%;
  display: inline-block;
  float: left; }

.width-5-6 {
  width: 83.33333%;
  display: inline-block;
  float: left; }

.width-5-7 {
  width: 71.42857%;
  display: inline-block;
  float: left; }

.width-5-8 {
  width: 62.5%;
  display: inline-block;
  float: left; }

.width-5-9 {
  width: 55.55556%;
  display: inline-block;
  float: left; }

.width-5-10 {
  width: 50%;
  display: inline-block;
  float: left; }

.width-6-7 {
  width: 85.71429%;
  display: inline-block;
  float: left; }

.width-6-8 {
  width: 75%;
  display: inline-block;
  float: left; }

.width-6-9 {
  width: 66.66667%;
  display: inline-block;
  float: left; }

.width-6-10 {
  width: 60%;
  display: inline-block;
  float: left; }

.width-7-8 {
  width: 87.5%;
  display: inline-block;
  float: left; }

.width-7-9 {
  width: 77.77778%;
  display: inline-block;
  float: left; }

.width-7-10 {
  width: 70%;
  display: inline-block;
  float: left; }

.width-8-9 {
  width: 88.88889%;
  display: inline-block;
  float: left; }

.width-8-10 {
  width: 80%;
  display: inline-block;
  float: left; }

.width-9-10 {
  width: 90%;
  display: inline-block;
  float: left; }

.full-height, .height-full {
  display: block;
  height: 100%; }

.half-height, .height-half {
  display: inline-block;
  height: 50%; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?xi385g");
  src: url("../fonts/icomoon.eot?#iefixxi385g") format("embedded-opentype"), url("../fonts/icomoon.woff?xi385g") format("woff"), url("../fonts/icomoon.ttf?xi385g") format("truetype"), url("../fonts/icomoon.svg?xi385g#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-search:before {
  content: "\f002"; }

.icon-envelope-o:before {
  content: "\f003"; }

.icon-heart:before {
  content: "\f004"; }

.icon-star:before {
  content: "\f005"; }

.icon-star-o:before {
  content: "\f006"; }

.icon-user:before {
  content: "\f007"; }

.icon-th-large:before {
  content: "\f009"; }

.icon-th:before {
  content: "\f00a"; }

.icon-th-list:before {
  content: "\f00b"; }

.icon-check:before {
  content: "\f00c"; }

.icon-times:before {
  content: "\f00d"; }

.icon-search-plus:before {
  content: "\f00e"; }

.icon-search-minus:before {
  content: "\f010"; }

.icon-power-off:before {
  content: "\f011"; }

.icon-gear:before {
  content: "\f013"; }

.icon-trash-o:before {
  content: "\f014"; }

.icon-clock-o:before {
  content: "\f017"; }

.icon-download:before {
  content: "\f019"; }

.icon-rotate-right:before {
  content: "\f01e"; }

.icon-headphones:before {
  content: "\f025"; }

.icon-volume-off:before {
  content: "\f026"; }

.icon-volume-down:before {
  content: "\f027"; }

.icon-volume-up:before {
  content: "\f028"; }

.icon-bookmark:before {
  content: "\f02e"; }

.icon-print:before {
  content: "\f02f"; }

.icon-video-camera:before {
  content: "\f03d"; }

.icon-photo:before {
  content: "\f03e"; }

.icon-map-marker:before {
  content: "\f041"; }

.icon-step-backward:before {
  content: "\f048"; }

.icon-play:before {
  content: "\f04b"; }

.icon-pause:before {
  content: "\f04c"; }

.icon-stop:before {
  content: "\f04d"; }

.icon-step-forward:before {
  content: "\f051"; }

.icon-chevron-left:before {
  content: "\f053"; }

.icon-chevron-right:before {
  content: "\f054"; }

.icon-expand:before {
  content: "\f065"; }

.icon-compress:before {
  content: "\f066"; }

.icon-eye:before {
  content: "\f06e"; }

.icon-eye-slash:before {
  content: "\f070"; }

.icon-comment:before {
  content: "\f075"; }

.icon-chevron-up:before {
  content: "\f077"; }

.icon-chevron-down:before {
  content: "\f078"; }

.icon-shopping-cart:before {
  content: "\f07a"; }

.icon-twitter:before {
  content: "\f081"; }

.icon-facebook:before {
  content: "\f082"; }

.icon-comments:before {
  content: "\f086"; }

.icon-linkedin:before {
  content: "\f08c"; }

.icon-external-link:before {
  content: "\f08e"; }

.icon-github:before {
  content: "\f092"; }

.icon-chain:before {
  content: "\f0c1"; }

.icon-navicon:before {
  content: "\f0c9"; }

.icon-pinterest:before {
  content: "\f0d3"; }

.icon-google-plus:before {
  content: "\f0d4"; }

.icon-flash:before {
  content: "\f0e7"; }

.icon-cloud-download:before {
  content: "\f0ed"; }

.icon-cloud-upload:before {
  content: "\f0ee"; }

.icon-bell:before {
  content: "\f0f3"; }

.icon-angle-double-left:before {
  content: "\f100"; }

.icon-angle-double-right:before {
  content: "\f101"; }

.icon-angle-double-up:before {
  content: "\f102"; }

.icon-angle-double-down:before {
  content: "\f103"; }

.icon-angle-left:before {
  content: "\f104"; }

.icon-angle-right:before {
  content: "\f105"; }

.icon-angle-up:before {
  content: "\f106"; }

.icon-angle-down:before {
  content: "\f107"; }

.icon-keyboard-o:before {
  content: "\f11c"; }

.icon-code:before {
  content: "\f121"; }

.icon-html5:before {
  content: "\f13b"; }

.icon-css3:before {
  content: "\f13c"; }

.icon-youtube:before {
  content: "\f166"; }

.icon-instagram:before {
  content: "\f16d"; }

.icon-flickr:before {
  content: "\f16e"; }

.icon-apple:before {
  content: "\f179"; }

.icon-windows:before {
  content: "\f17a"; }

.icon-android:before {
  content: "\f17b"; }

.icon-linux:before {
  content: "\f17c"; }

.icon-envelope-square:before {
  content: "\f199"; }

.icon-file-pdf-o:before {
  content: "\f1c1"; }

.icon-file-photo-o:before {
  content: "\f1c5"; }

.icon-file-zip-o:before {
  content: "\f1c6"; }

.icon-life-bouy:before {
  content: "\f1cd"; }

.icon-share-alt-square:before {
  content: "\f1e1"; }

html {
  font-family: 'Open Sans',sans-serif;
  font-weight: 400;
  font-size: 17px;
  height: 100%; }

body {
  min-height: 100%;
  position: relative;
  height: 100%;
  background: #3c8170 url("../img/background.jpg") 0 0 no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #eeeeee; }

a, a:link, a:visited {
  color: #cecece;
  text-decoration: none; }

a:hover {
  color: #969696; }

#wrapper {
  margin: 2em 2em 1em auto;
  float: none;
  color: #eeeeee;
  background: #3c8170;
  padding: 0;
  -webkit-border-radius: 3em;
  -moz-border-radius: 3em;
  -ms-border-radius: 3em;
  -o-border-radius: 3em;
  border-radius: 3em;
  border: none;
  box-shadow: 0 0 1em #1c3b34;
  width: 72%;
  overflow: hidden; }

#header {
  background: #2c5e52;
  min-height: 10em;
  position: relative; }
  #header .header-image {
    height: 12em;
    width: 100%;
    clear: both;
    background-size: contain; }
  #header #branding {
    display: inline-block;
    height: 66.66667%;
    display: inline-block;
    width: 100%;
    display: block;
    position: absolute; }
    #header #branding #site-title {
      font-size: 2em;
      padding: 0 2em;
      margin-top: .5em; }
      #header #branding #site-title a {
        text-shadow: 0 0 0.3em #1c3b34;
        color: #1c3b34;
        font-weight: 700; }
    #header #branding #site-description {
      font-size: small;
      padding: 0 2em;
      text-shadow: 0 0 0.3em #1c3b34;
      color: #1c3b34;
      font-style: italic; }
  #header #menu {
    display: inline-block;
    height: 33.33333%;
    display: inline-block;
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    background: #1c3b34; }
    #header #menu .menu-basic-container {
      display: block;
      height: 100%; }
    #header #menu > * {
      height: 100%; }
    #header #menu ul {
      height: 100%; }
    #header #menu ul li ul {
      display: none; }
    #header #menu .menu {
      width: 60%;
      display: inline-block;
      height: 100%;
      float: left; }
    #header #menu ul li {
      float: left;
      width: auto;
      height: 100%; }
      #header #menu ul li a {
        padding: 1.18em 1em;
        text-align: center;
        display: block;
        height: auto;
        background: #1c3b34; }
        #header #menu ul li a:hover {
          background: #2c5e52;
          color: #eeeeee; }
    #header #menu .current_page_item {
      font-weight: 700; }
    #header #menu:after {
      content: "";
      clear: both; }
    #header #menu .search-wrapper {
      display: inline-block;
      width: 34%;
      margin: 0;
      padding: 0;
      float: left; }
      #header #menu .search-wrapper input[type=text] {
        border: none;
        outline: none;
        background: #44927f;
        color: #222;
        padding: 1.08em 1em;
        margin: 0;
        width: auto;
        display: inline-block;
        float: left;
        font-size: 1em; }
        #header #menu .search-wrapper input[type=text]:focus {
          box-shadow: inset 0 0 0.5em #1c3b34; }
      #header #menu .search-wrapper button[type=submit] {
        background: #1c3b34;
        width: 10%;
        display: inline-block;
        height: 100%;
        border: none;
        color: #eeeeee;
        padding: 0; }
        #header #menu .search-wrapper button[type=submit]:hover {
          background: #2c5e52; }
    #header #menu #user-menu {
      width: 6%;
      display: inline-block; }

#slideshow {
  height: 15em;
  overflow: hidden;
  position: relative; }
  #slideshow .slideshow.item {
    position: relative;
    height: 100%;
    width: 100%; }
  #slideshow div.content-wrapper {
    bottom: .5em;
    left: .5em;
    right: .5em;
    position: absolute;
    z-index: 10; }
  #slideshow h1 {
    font-size: 2em;
    background: #3c8170;
    padding: .25em .5em;
    display: inline-block;
    margin: .20em 0; }
    #slideshow h1 small {
      font-size: .7em;
      font-style: italic; }
  #slideshow div.content {
    background: #3c8170;
    padding: .5em 1em; }
  #slideshow div.img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 9; }
  #slideshow div.img-wrapper img {
    width: 100%;
    height: auto;
    position: relative;
    top: -40%;
    z-index: -1; }

#container {
  margin: 2em 0;
  position: relative;
  min-height: 100%; }
  #container #content {
    display: inline-block;
    width: 66.66667%;
    position: relative;
    height: 100%;
    float: left; }
    #container #content .post {
      margin: 1.5em auto;
      position: relative;
      box-shadow: 0 0 1em #2c5e52;
      display: block;
      width: 90%;
      overflow: hidden;
      -webkit-border-radius: 1em;
      -moz-border-radius: 1em;
      -ms-border-radius: 1em;
      -o-border-radius: 1em;
      border-radius: 1em; }
      #container #content .post .entry-title {
        font-size: 1.87em;
        display: block;
        margin: auto;
        text-align: center;
        padding: .25em 0px;
        background: rgba(44, 94, 82, 0.8); }
        #container #content .post .entry-title a {
          color: #eeeeee; }
      #container #content .post .post-header-wrapper {
        height: 13em;
        background-position: 0 -5em;
        -webkit-background-origin: content-box;
        background-origin: content-box; }
        #container #content .post .post-header-wrapper .entry-meta {
          display: inline-block;
          padding: .5em;
          background: #3c8170; }
          #container #content .post .post-header-wrapper .entry-meta .author a {
            color: #1c3b34; }
          #container #content .post .post-header-wrapper .entry-meta .entry-date {
            font-size: .7em; }
        #container #content .post .post-header-wrapper .post-edit-link {
          position: absolute;
          top: .5em;
          display: inline-block;
          padding: .5em;
          background-color: rgba(0, 0, 0, 0.3);
          z-index: 60;
          left: 1em; }
      #container #content .post .entry-summary {
        padding: 2em 0; }
        #container #content .post .entry-summary p {
          padding: 0 1.5em; }
      #container #content .post .entry-footer {
        font-size: .6em;
        padding: 1em 2.5em;
        background-color: #2c5e52; }
    #container #content > * {
      margin: 1em auto;
      width: 90%; }
  #container #sidebar {
    height: 100%;
    display: inline-block;
    width: 33.33333%; }

#footer {
  min-height: 5em;
  padding: 1em 0;
  background: #2c5e52;
  font-size: .83em;
  position: relative;
  overflow: hidden; }
  #footer > * {
    margin: 1em auto 0;
    width: 20%;
    display: block; }
  #footer #copyright {
    font-size: .7em;
    text-align: center; }
  #footer:before {
    position: absolute;
    top: 0;
    left: -2em;
    right: -2em;
    bottom: -1em;
    content: '';
    background-color: transparent;
    -webkit-box-shadow: inset 0 1em 3em rgba(28, 59, 52, 0.6);
    -moz-box-shadow: inset 0 1em 3em rgba(28, 59, 52, 0.6);
    box-shadow: inset 0 1em 3em rgba(28, 59, 52, 0.6); }

@media print {
  /* Print Style
  -------------------------------------------------------------- */ }
@media print {
  body, html, * {
    background: none !important; }

  #wrapper {
    clear: both !important;
    display: block !important;
    float: none !important;
    position: relative !important; }

  #header {
    border-bottom: 2pt solid #fff;
    padding-bottom: 18pt; }

  #colophon {
    border-top: 2pt solid #fff; }

  #site-title,
  #site-description {
    float: none;
    line-height: 1.4em;
    margin: 0;
    padding: 0; }

  #site-title {
    font-size: 13pt; }

  .entry-content {
    font-size: 14pt;
    line-height: 1.6em; }

  .entry-title {
    font-size: 21pt; }

  #access,
  #branding img,
  #respond,
  .comment-edit-link,
  .edit-link,
  .navigation,
  .page-link,
  .widget-area {
    display: none !important; }

  #container,
  #header,
  #footer {
    margin: 0;
    width: 100%; }

  #content,
  .one-column #content {
    margin: 24pt 0 0;
    width: 100%; }

  .wp-caption p {
    font-size: 11pt; }

  #site-info,
  #site-generator {
    float: none;
    width: auto; }

  #colophon {
    width: auto; }

  img#wpstats {
    display: none; }

  #site-generator a {
    margin: 0;
    padding: 0; }

  #entry-author-info {
    border: 1px solid #e7e7e7; }

  #main {
    display: inline; }

  .home .sticky {
    border: none; } }
